<div>
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <div>
    <h1>Products</h1>
    <div>
      <%= link_to "Add Product", new_api_v1_product_path, class: 'btn btn-outline-primary'%>
    </div>
  </div>

  <div>
    <% if @products.length > 0 %>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td> <%= link_to product.name, api_v1_product_path(product) %> </td>
              <td> <%= product.price%> </td>
              <td> <%= "#{product.quantity} " "#{product.measurement_unit}"%> </td>
              <td> <%= product.category %> </td>
              <td>
                <div class="d-flex gap-2">
                  <%= link_to "Edit", edit_api_v1_product_path(product), class: 'btn btn-sm btn-outline-primary' %>
                  <%= button_to "Delete", api_v1_product_path(product), method: :delete, data: { confirm: "Are you sure?" }, class: 'd-flex btn btn-sm btn-danger' %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>No Product Available</h3>
    <%end%>
  </div>
</div>
